Source: node-oauth-sign
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends: debhelper-compat (= 12)
 , pkg-js-tools (>= 0.9.20~)
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/js-team/node-oauth-sign
Vcs-Git: https://salsa.debian.org/js-team/node-oauth-sign.git
Homepage: https://github.com/mikeal/oauth-sign
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-oauth-sign
Architecture: all
Depends: ${misc:Depends}
 , nodejs
Description: OAuth 1 signing module for Node.js
 node-oauth-sign provides hmacsign and rfc3986 functions used to
 perform OAuth 1 signing.
 .
 Node.js is an event-based server-side javascript engine.
